<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="crmApp">
    <div class="content-container container">
      <%- content %>
    </div>
  </body>

</html>